extends ../layouts/layout

block content
  .row-mb-3
    .col-xl-10.offset-xl-1
      p Skyrim GEMSSE is a comprehensive, quick-reference catalog of over 1000 lore-friendly gameplay enhancement mods that improve how the game plays with a focus on mods that create a more realistic, immersive, and challenging experience.
      p This project is inspired by Skyrim GEMS by Ka3m0n. This is a updated listed that shares many mods with the original, but for Skyrim Special Edition and Skyrim VR. 
      p I've also taken the time to build a complementary list for Skyrim Special Edition. Not all of the mods are there, as some weren't ported, and there are many mods I haven't seen so feel free to send some suggestions on the #[a(href="https://github.com/big-duckie/skyrim-gems") GEMS GitHub].